<main>
  <div>
    <div>
      <h2>User info</h2>
      <table>
        <tr>
          <th>name</th>
          <th></th>
        </tr>
        <tr>
          <th>introduction</th>
          <th>></th>
        </tr>
      </table>

    </div>
    <div>
      <h2>New book</h2>
    </div>
  </div>
</main>