<div class="container px-5 px-sm-0">
  <% if @book.errors.any? %>
    <h3 class="errors"><%= @book.errors.count%> errors prohibited this obj from being saved:</h3>
    <ul class="errors">
      <% @book.errors.full_messages.each do |message|%>
        <li><%= message%></li>
      <% end %>
    </ul>
  <% end %>
  <div class="row">
    <%= render 'list', book: @book, user: current_user %>
    <div class="col-md-8 offset-md-1">
      <h2>Books</h2>
      <%= render 'index', books: @books%>
    </div>
  </div>
  </div>
